pandas>=1.0.0
psutil>=5.6.6
dask[dataframe]>=2.10.0
modin[ray]>=0.8.1.1
tqdm>=4.33.0
ipywidgets>=7.0.0
cloudpickle>=0.2.2
parso>0.4.0
bleach>=3.1.1
black==22.1.0
flake8==3.7.7
perfplot==0.7.3
pytest==6.2.2
nose